@{
    ViewBag.Title = "Creadores de la Agenda Web";
}


<table class="table">
    <thead>
        <tr>
            <th>Nombre</th><th>Matrícula</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Reinaldo De Paula</td><td>12-MISN-1-194</td>
        </tr>
        <tr>
            <td>Reinaldo De Paula</td><td>12-MISN-1-194</td>
        </tr>
        <tr>
            <td>Reinaldo De Paula</td><td>12-MISN-1-194</td>
        </tr>
    </tbody>
</table>
